h1{
    color:white
}

#prefEmpty, #sinFactibles{
    color:white;
}

h3{
    font-size: 1.5vw;
}

.hover-div {
    border-top: 1px solid #f8f8f8;
    background: #f8f8f8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0s;
    transition: all 0.3s;
    margin: 10px 0px;
    min-width: 80px;
    min-height: 80px;
    width: 14vw;   
    height: 14vw;
}

.hover-div:hover {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    border-radius: 5px;
}


/* Para navegadores WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #eb9c09; /* Color del área desplazable de la barra de desplazamiento */
    border-radius: 6px; /* Bordes redondeados de la barra de desplazamiento */
  }
  
  /* Para navegadores no-WebKit (Firefox, Edge, etc.) */
  /* Ten en cuenta que Firefox actualmente (a partir de mi conocimiento hasta enero de 2022) no soporta totalmente personalización de la barra de desplazamiento con CSS. */
  scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  scrollbar-thumb {
    background-color: #4CAF50; /* Color del área desplazable de la barra de desplazamiento */
    border-radius: 6px; /* Bordes redondeados de la barra de desplazamiento */
  }
  