<audio id="sonido">
  <source src="..\..\assets\sounds\CardSound.mp3" type="audio/mpeg" />
  Tu navegador no admite la reproducción de sonido.
</audio>

<div class="d-flex flex-wrap justify-content-center gap-3">
  <div
    class="d-flex flex-column col-sm-3 hover-div p-3 justify-content-center align-items-center text-center"
    (click)="buscarEnMapa(actividad.nombre)"
    (mouseenter)="sonidoCard()"
    *ngFor="let actividad of actividadesFactibles"
  >
    <img [src]="getImagenActividad(actividad.nombre)" width="50%" />
    <h3>{{ actividad.nombre }}</h3>
  </div>
</div>
