.large-orange-button {
    display: inline-block;
    padding: 3vw 4vw; /* Change fixed px to vw for responsive padding */
    font-size: 4vw; /* Change fixed px to vw for responsive font-size */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 7vw;
    position: relative;
    transition: all 0s;
}
  
  .large-orange-button:hover {
    background-color: #ff7f00;
  }
  
  .large-orange-button:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-top: 2vw solid transparent;
    transition: all 0.5s;
    opacity: 0;
  }
  
  .large-orange-button:hover:after {
    border-top-color: #ff7f00;
    opacity: 1;
  }

  .gap-custom {
    margin: 7vw; /* Ajusta este valor a la cantidad de espacio que desees */
  }