<div class="d-flex flex-column justify-content-center align-items-center 100vh">
  <div class="text-center">
    <img src="{{ climaImagenURL }}" class="img-fluid" style="width: 30%" />
  </div>

  <div class="text-center">
    <ng-container *ngIf="climaActual !== ''">
      <h1 class="text-white display-1">Clima {{textoDia}}: {{ climaActual }}</h1>
    </ng-container>
  </div>
 
  <div class="gap-custom-parametros">
    <button
      type="button"
      class="parametros-orange-button"
      (click)="toggleModal()"
    >
      Ubicacion
    </button>
  </div>

  <div class="gap-custom-actividades">
    <button
      type="button"
      class="actividades-orange-button"
      onclick="location.href='#actividades'"
    >
      Actividades para hoy
    </button>
  </div>

</div>
