.actividades-orange-button {
    display: inline-block;
    padding: 3vw 4vw; /* Change fixed px to vw for responsive padding */
    font-size: 4vw; /* Change fixed px to vw for responsive font-size */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 7vw;
    position: relative;
    transition: all 0s;
}
  
  .actividades-orange-button:hover {
    background-color: #ff7f00;
  }
  
  .actividades-orange-button:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-top: 2vw solid transparent;
    transition: all 0.5s;
    opacity: 0;
  }
  
  .actividades-orange-button:hover:after {
    border-top-color: #ff7f00;
    opacity: 1;
  }

  .gap-custom-actividades {
    margin-top: 7vh; /* Ajusta este valor a la cantidad de espacio que desees */
    margin-bottom: 2vh;
  }

  .gap-custom-parametros {
    margin-top: 7vh; /* Ajusta este valor a la cantidad de espacio que desees */
    margin-bottom: 0.5vh;
    font-size: 2vh;
  }

  /*Aqui las coustomizaciones del boton "Actividades Futuras"*/

  .parametros-orange-button{
    display: inline-block;
    padding: 1.5vw 4vw; /* Change fixed px to vw for responsive padding */
    font-size: 3vw; /* Change fixed px to vw for responsive font-size */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 7vw;
    position: relative;
    transition: all 0.3s ease;
  }

  .parametros-orange-button:hover {
    background-color: #ff7f00;
    padding-right: 7vw;
  }

  .parametros-orange-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-image: url('../../assets/images/earth-americas-solid.svg'); /* Reemplaza 'ruta_de_tu_imagen.png' con la URL de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    transition: all 0.5s;
    opacity: 0;
    pointer-events: none; /* Para que no afecte los eventos del botón */
}

.parametros-orange-button:hover::after {
    opacity: 1;
}
