<div class="d-flex flex-column justify-content-center align-items-center 100vh">
  <div class="text-center">
    <img src="{{ climaImagenURL }}" class="img-fluid" style="width: 30%" />
  </div>

  <div class="text-center">
    <ng-container *ngIf="climaActual !== ''">
      <h1 class="text-white display-1">Clima actual: {{ climaActual }}</h1>
    </ng-container>
  </div>

  <div class="gap-custom">
    <button
      type="button"
      class="large-orange-button"
      onclick="location.href='#actividades'"
    >
      Actividades
    </button>
  </div>
</div>
