<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">{{title}}</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Inicio</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Actividades</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Mapa</a>
		</ul>	
	  </div>
	</div>
	<div class="container-fluid">
		<button *ngIf="!isLogueado" type="button" class="btn btn-secondary ms-auto" (click)="iniciarSesion()">Iniciar Session</button>
		<ul *ngIf="isLogueado" class="navbar-nav ms-auto mb-2 mb-lg-0">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" *ngIf="perfilUsuario" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					{{ perfilUsuario.username }}
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item" href="#">Preferencias</a></li>
				<li><a class="dropdown-item" *ngIf="isLogueado" (click)="cerrarSesion()">Cerrar Sesion</a></li>
				</ul>
			</li>
		</ul>	
	</div>
</nav>	
<ng-container *ngIf="role">
<h2>TIENE EL ROLL DE APP !!</h2>
</ng-container>
		<ng-container *ngIf="perfilUsuario">
		  <h2>Informacion del Usuario</h2>
		  <table>
		    <tr *ngIf="perfilUsuario.username">
		      <th scope="row">Usuario</th>
		      <td>{{ perfilUsuario.username }}</td>
		    </tr>
		    <tr *ngIf="perfilUsuario.firstName">
		      <th scope="row">Primer Nombre</th>
		      <td>{{ perfilUsuario.firstName }}</td>
		    </tr>
		    <tr *ngIf="perfilUsuario.lastName">
		      <th scope="row">Segundo Nombre</th>
		      <td>{{ perfilUsuario.lastName }}</td>
		    </tr>
		    <tr *ngIf="perfilUsuario.email">
		      <th scope="row">Correo Electronico</th>
		      <td>{{ perfilUsuario.email }}</td>
		    </tr>
		    <tr>
		      <th scope="row">Correo Verificado</th>
		      <td>{{ perfilUsuario.emailVerified ? 'Si' : 'No' }}</td>
		    </tr>
		  </table>
		</ng-container>

<div class="fixed-bottom">
	<ng-container *ngIf="testResponse">
		<h2>Informacion version</h2>
		<table>
		  <tr *ngIf="testResponse.version">
			<th scope="row">Version</th>
			<td>{{ testResponse.version }}</td>
		  </tr>
		</table>
	</ng-container>
</div>
	