.map-size {
    width: 50vw;   
    height: 30vw;
}

#actColumna{
    padding-top:18vh;
    padding-bottom: 15px;
}

#actColumna {
    #prefEmpty, #sinFactibles, #noLogeado{
        color:white;
        display:none
    }
}
