<div class="d-flex flex-row justify-content-start align-items-center 100vh">
  
  <app-actividades></app-actividades>
  
  <div class="d-flex justify-content-center align-items-center">
    <iframe
      id="mapaGoogle"
      class="map-size pe-5"
      style="border: 0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBUcr2sITl93oV9QiSycwPieaIGduvrat4&q="
    >
    </iframe>
  </div>
</div>
