<div class="d-flex flex-row justify-space-between align-items-center vh-100">
  <div class="col-4">
    <div class="d-flex justify-content-center align-items-center" id="actColumna">
      <app-actividades></app-actividades>
    </div>
  </div>
  <div class="col-8">
    <div class="d-flex justify-content-center align-items-center">
      <iframe
        id="mapaGoogle"
        class="map-size pe-5"
        style="border: 0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src=""
      >
      </iframe>
    </div>
  </div>
</div>
