<app-nav-bar
  [title]="title"
  [isLogueado]="isLogueado"
  (messageEvent)="receiveMessage($event)"
  [perfilUsuario]="perfilUsuario"
></app-nav-bar>

<div class="d-flex flex-column vh-100" id="inicio">
  <app-inicio></app-inicio>
</div>

<div class="d-flex flex-column justify-content-center vh-100" id="actividades">
  <app-actividades></app-actividades>
</div>

<div class="d-flex flex-column vh-100" id="mapa">
  <app-mapa></app-mapa>
</div>

<div class="d-flex flex-column vh-100" id="preferencias">
  <app-preferencias></app-preferencias>
</div>