::ng-deep .pac-container
  {
    z-index: 99999 !important;
  }

  #inputUbicacion{
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    height: 40px;
  }

.close{
  border-radius: 5px;
  background-color: #bac6ce;
}

.form-control{
  border-radius: 5px;
  border-color: black;
  border-right-color: #565e64;
  border-width: 2px;
  height: 38px;
  border-end-end-radius:0px ;
  border-start-end-radius:0px ;
}

.input-group-append .btn-outline-secondary{
  border-color: black;
  border-width: 2px;
}